FinancieraXYZ/Financiera/Connected Services/WSFinanciera/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WSFinanciera" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WSFinanciera" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAmortizacion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Amortizacion" nillable="true" type="tns:Amortizacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAmortizacion" nillable="true" type="tns:ArrayOfAmortizacion" />
  <xs:complexType name="Amortizacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="abonoKs" type="xs:double" />
      <xs:element minOccurs="0" name="cuota" type="xs:double" />
      <xs:element minOccurs="0" name="interes" type="xs:double" />
      <xs:element minOccurs="0" name="periodo" type="xs:int" />
      <xs:element minOccurs="0" name="saldo" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Amortizacion" nillable="true" type="tns:Amortizacion" />
</xs:schema>